name: dotnet-redis-poc

services:
  redis:
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    labels:
      com.dotnet-redis.project: backend
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:
